<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title><%= v_site%></title>
    <script src="https://code.jquery.com/jquery-3.3.1.js"></script>
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <style>
    .attente{
      border-left : solid;
      border-left-width: 6px;
      border-left-color: yellow;
      background-color: lightgrey;
      border-radius: 10px;
    }
    .valide{
      border-left : solid;
      border-left-width: 6px;
      border-left-color: green;
      background-color: lightgrey;
      border-radius: 10px;
    }
    .denied{
      border-left : solid;
      border-left-width: 6px;
      border-left-color: red;
      background-color: lightgrey;
      border-radius: 10px;
    }
    .finish{
      border-left : solid;
      border-left-width: 6px;
      border-left-color: blue;
      background-color: lightgrey;
      border-radius: 10px;
    }
    .encours{
      border-left : solid;
      border-left-width: 6px;
      border-left-color: purple;
      background-color: lightgrey;
      border-radius: 10px;
    }
    .inner{
      padding-left : 6px;
    }
    #but{
      border-style: solid;
      border-width: 1px;
      border-radius: 10px;
    }
    #but1{
      border-style: solid;
      border-width: 1px;
      border-radius: 10px;
      background-color: #b3ffb3;
      margin-left: 6px;
    }
    #but2{
      border-style: solid;
      border-width: 1px;
      border-radius: 10px;
      background-color: #ff6666;
    }
    </style>
  </head>
  <body>
    <div class="w3-bar w3-light-grey">
    <a class="w3-bar-item w3-button" href="http://localhost:8080/home/login">Accéder au site</a>
    <a class="w3-bar-item w3-button" href="http://localhost:8080/home/administration/commandes">Commandes</a>
    <div class="w3-dropdown-click">
      <button class="w3-button" onclick="myFunction()">
        Gestion <i class="fa fa-caret-down"></i>
      </button>
      <div id="demo" class="w3-dropdown-content w3-bar-block w3-card">
        <a class="w3-bar-item w3-button" href="http://localhost:8080/home/modification">Editer mon Profil</a>
        <a class="w3-bar-item w3-button" href="http://localhost:8080/home/messagerie">Messagerie</a>
        <%if(v_admin){%>
        <a class="w3-bar-item w3-button" href="http://localhost:8080/home/administration/users">Clients</a>
        <%}%>
      </div>
    </div>
  </div>
    <%if(v_admin){%>
      <p><%= v_login%>, historique des commandes</p>
      <hr>
      <p>En attente :</p>
      <%
        var i;
        var taille = v_devis.length;
        for(i=taille-1;i>=0;i--){
          if(v_devis[i][4] == 0 || v_devis[i][4] == 2){%>
            <%if(3000 <= v_devis[i][8]){%>
              <div class="encours">
            <%}else{%><div class="attente"><%}%>
            <p><%= v_devis[i][0]%> - <%= v_devis[i][1]%> : <%= v_devis[i][2]%>
              <%if(v_admin){%>
                (<%= v_devis[i][7]%>€)
                <%}%>
            </p>
            <p><%= v_devis[i][3]%></p>
            <%if(v_admin && (v_devis[i][4] == 0 || v_devis[i][4] == 2)){%>
              <a id="but1" class="w3-bar-item w3-button" href=<%=v_devis[i][5]%>>Valider</a> <a id="but2" class="w3-bar-item w3-button" href=<%=v_devis[i][6]%>>Refuser</a>
            <%}%>
          </div>
          <%}%>
        <%}%>
        <hr>

      <p>En traitement :</p>
      <%
        var i;
        var taille = v_devis.length;
        for(i=taille-1;i>=0;i--){
          if(v_devis[i][4] == 1 || v_devis[i][4] == 3){%>
            <div class="valide">
            <p><%= v_devis[i][0]%> - <%= v_devis[i][1]%> : <%= v_devis[i][2]%></p>
            <p><%= v_devis[i][3]%></p>
            <%if(v_admin && (v_devis[i][4] == 1 || v_devis[i][4] == 3)){%>
              <a id="but1" class="w3-bar-item w3-button" href=<%=v_devis[i][5]%>>Terminée</a>
            <%}%>
          </div>
          <%}%>
        <%}%>
        <hr>

        <p>Terminées :</p>
        <%
          var i;
          var taille = v_devis.length;
          for(i=taille-1;i>=0;i--){
            if(v_devis[i][4] == 5){%>
              <div class="finish">
              <p><%= v_devis[i][0]%> - <%= v_devis[i][1]%> : <%= v_devis[i][2]%></p>
              <p><%= v_devis[i][3]%></p>
            </div>
            <%}%>
          <%}%>
          <hr>

        <p>Refusées :</p>
        <%
          var i;
          var taille = v_devis.length;
          for(i=taille-1;i>=0;i--){
            if(v_devis[i][4] == 4){%>
            <div class="denied">
              <p><%= v_devis[i][0]%> - <%= v_devis[i][1]%> : <%= v_devis[i][2]%></p>
              <p><%= v_devis[i][3]%></p>
            </div>
            <%}%>
          <%}%>
    <%}%>
    <hr>
    <address><a href="mailto:hugo.magnaudet@gmail.com">MAGNAUDET hugo</a></address>
  </body>
  <script>
function myFunction() {
  var x = document.getElementById("demo");
  if (x.className.indexOf("w3-show") == -1) {
    x.className += " w3-show";
  } else {
    x.className = x.className.replace(" w3-show", "");
  }
}
</script>
  <script src="/script.js"></script>
</html>
