<!DOCTYPE html>
<html lang="fr">
  <head>
    <meta charset="UTF-8">
      <title><%= v_site%></title>
      <script src="https://code.jquery.com/jquery-3.3.1.js"></script>
  </head>
  <body>
    <%if(v_perso){%>
      <h1>Mon espace personnel <%= v_site%></h1>
      <a class="lien" href="http://localhost:8080/home/login">Accéder au site</a>
      <a class="lien" href="http://localhost:8080/home/modification">Editer mon Profil</a>
      <a class="lien" href="http://localhost:8080/home/messagerie">Messagerie</a>
      <%if(v_admin){%>
      <a class="lien" href="http://localhost:8080/home/administration/users">Clients</a>
      <%}%>
      <p><%= v_nom%>, <%= v_login%></p>
    <%}else{%>
      <h1>Profil ArteView de <%= v_login%></h1>
      <a class="lien" href="http://localhost:8080/home/login">Accéder au site</a>
    <%}%>
    <p>Ici, bientôt vos commandes</p>
    <hr>
    <address><a href="mailto:hugo.magnaudet@gmail.com">MAGNAUDET hugo</a></address>
  </body>
  <script src="/script.js"></script>
</html>
