<!DOCTYPE html>
<html lang="fr">
  <head>
    <meta charset="UTF-8">
      <title><%= v_site%></title>
      <script src="https://code.jquery.com/jquery-3.3.1.js"></script>
  </head>
  <body>
    <h1>Administration utilisateurs <%= v_site%></h1>
    <a class="lien" href="http://localhost:8080/home/login">Accéder au site</a>
    <%if(v_prin){%>
    <a class="lien" href=<%=v_link%>>Mon Profil</a>
    <%}%>
    <p>Administrateur : <%= v_login%></p>

    <%if(v_admin){
      var i;
      for(i=(v_client.length)-1;i>=0; i--){%>
        <hr>
        <p>
          <%var j;
          for(j=0;j<(v_client[i].length); j++){%>
            <%= v_client[i][j]%>
          <%}%>
        </p>
      <%}%>
    <%}%>

    <hr>
    <address><a href="mailto:hugo.magnaudet@gmail.com">MAGNAUDET hugo</a></address>
  </body>
  <script src="/script.js"></script>
</html>
